{% include 'header.html' %}

{#<div id="code"><img src="{{ qrcode(data, box_size=5) }}" alt="">#}
{#    <br>#}
{#    <div id="qrtxt">#}
{#        <pre> {{ data }}</pre>#}
{#    </div>#}
{#</div>#}

<div id="code">
    <div class="box">
        <div class="login-switch">
            <i class="icon iconfont icon-saomadenglu01 quick" style="font-size: 67px"></i>
            <i class="icon iconfont icon-pclogin static" style="font-size: 50px"></i>
        </div>
        <div id="lg_title" class="login-title">手机扫码，安全登录！</div>
        <br>
        <div id="content">
            <img class="QR" src="{{ qrcode(data, box_size=5) }}" alt="">

            <div class="qrcode-desc" data-spm="25847036">

                <p><i class="icon iconfont icon-saoyisao"></i><span class="ft-gray">扫一扫登录</span></p>

            </div>
            <div class="login-links">

                <a href="/" class="register" target="_parent"
                   tabindex="7">到注册</a>

            </div>
        </div>
        <div id="quick_content">
            <div class="field ph-hide username-field ">

                <label for="TPL_username_1"><i class="icon-user" title="会员名"></i></label>
                <input type="text" name="TPL_username" id="TPL_username_1" class="login-text J_UserName" value=""
                       maxlength="32" tabindex="1" aria-label="账号" placeholder="账号">
            </div>
            <div class="field ph-hide username-field ">

                <label for="TPL_username_1"><i class="icon-lock" title="密码"></i></label>
                <input type="text" name="TPL_username" id="TPL_username_1" class="login-text J_UserName" value=""
                       maxlength="32" tabindex="1" aria-label="密码" placeholder="密码">
            </div>

            <button type="submit" class="J_Submit sub" tabindex="3" id="J_SubmitStatic" data-ing="稍等...">登 录</button>
            <div class="login-links">

                <a href="/" class="register" target="_parent"
                   tabindex="7">到注册</a>

            </div>
        </div>


    </div>
    {#    <div id="qrtxt">#}
    {#        <pre>{{ data }}</pre>#}
    {#    </div>#}

</div>

{#<pre>#}
{#    <div id="message" style="width: 100%;display: block;margin: 0 auto;overflow-x: scroll;padding-top: 2em;"></div>#}
{#</pre>#}

<div id="detail">
    <div class="tit"><i class="close icon-off"></i></div>
    <div id="text">
        <pre id="predata">
	    {{ data }}

        </pre>
    </div>

</div>

<script type="text/javascript">
    var detail = document.getElementById("predata"), tow = document.getElementById("two"), three = document.getElementById("three"), four = document.getElementById("four"), predatas = document.getElementsByClassName("predata"), steps = document.getElementsByClassName("♥");


    window.onload = function () {
        var static = document.getElementsByClassName('static')[0];
        var quick = document.getElementsByClassName("quick")[0];
        var content = document.getElementById("content");
        var quick_content = document.getElementById("quick_content");
        var lg_title = document.getElementById("lg_title");
        static.onclick = function () {
            this.style.display = "none";
            quick.style.display = "block";
            quick_content.style.display = "block";
            content.style.display = "none";
            lg_title.innerHTML = "欢迎登录！"
        };
        quick.onclick = function () {
            this.style.display = "none";
            static.style.display = "block";
            quick_content.style.display = "none";
            content.style.display = "block";
            lg_title.innerHTML = "手机扫码，安全登录！"
        };
    }

    function quire() {
        $.ajax({
            url: "/services/validate/{{ req_id }}/", async: false, success: function (result) {
                console.log(result);
                {#                console.log(details[0])#}
                if (result['errors'] == 0 && result['status'] == 2) {
                    var log = result['log'];

                    tow.style.backgroundImage = "url(/static/img/2on.png)";
                    tow.style.width = "62px";
                    steps[0].style.backgroundImage = "url('/static/img/lline_on.png')"


                    predatas[1].innerHTML = '数据密文：<br/>' + log[0]['cipher'] + '，<br/>数据明文：<br/>' + log[0]['clear']+'<br/>-------------------------<br/>'+'appkey：商户标识<br>'+'name：商户名称（豆豆网）<br>'+'req_id：每次请求的随机标识<br>'+'uri：请求地址<br>'+'type：请求类型（注册、登录）<br>'+'open_id：用户对商户的派生码';





                    window.setTimeout(function () {
                        three.style.backgroundImage = "url(/static/img/3on.png)";
                        three.style.width = "62px";
                        steps[1].style.backgroundImage = "url('/static/img/lline_on.png')"
                        predatas[2].innerHTML = '签名密文：<br/>' + result['base'] + '<br/>签名明文：<br/>' + result['basejson']+'<br/>-------------------------<br/>'+'startDate：验签开始时间<br>'+'endDate：验签结束时间<br>'+'serialNo：证书号<br>'+'source：验签源文<br>'+'subject：DN<br>'+'issuer：发证机构';
                    }, 1000);
                    window.setTimeout(function () {
                        four.style.backgroundImage = "url(/static/img/4on.png)";
                        four.style.width = "62px";
                        steps[2].style.backgroundImage = "url('/static/img/lline_on.png')";
                        var text=result['basejson'];
                        var obj=eval("("+text+")");
                        predatas[3].innerHTML = '登录成功，登录时间：' + log[0]['datatime'] + '，<br/>req_id：' + log[0]['req_id']+'<br/>DN：<br>'+obj.subject;
                    }, 2000);

                    {#                    detail.innerHTML += '登录成功，登录时间：' + log[0]['datatime'] + '，<br/>req_id：' + log[0]['req_id'] + '，<br/>密文：<br/>' + log[0]['cipher'] + '，<br/>明文：<br/>' + log[0]['clear'] + '<br/>签名密文：<br/>' + result['base'] + '<br/>签名明文：<br/>' + result['basejson'];#}

                    {#                    popWin("detail");#}
                    window.clearInterval(timer)
                } else if (result['errors'] == 1) {
                    $('#code').html('登录失败')
                }
            }
        })
    }
    var timer = setInterval("quire()", 5000);
</script>

{% include 'footer.html' %}
