{% include 'header.html' %}

<div id="code"><img src="{{ qrcode(data, box_size=4) }}" alt="">
    <div id="qrtxt"><pre>{{ data }}</pre></div>
</div>

<button id="butSub" class="butSub">发送支付请求</button>


<script type="text/javascript" charset="UTF-8">


    $(function () {


        $('.butSub').click(function () {

            $.ajax({
                type: 'POST',
                url: '/push/',
                data: {data: da},
                success: function (result) {
                    if (result) {
                        $('#code').html('支付已推送')
                    }
                }
            });

        })

    });


</script>


{% include 'footer.html' %}