{% include 'header.html' %}

<div id="code"><img src="{{ qrcode(data, box_size=5) }}" alt="">
    <br>
    <div id="qrtxt">
        <pre> {{ data }}</pre>
    </div>
</div>

<pre>
    <div id="message" style="width: 100%;display: block;margin: 0 auto;overflow-x: scroll;padding-top: 2em;"></div>
</pre>


<script type="text/javascript">

    function quire() {
        $.ajax({
            url: "/services/validate/{{ req_id }}/", async: false, success: function (result) {
                console.log(result);
                if (result['errors'] == 0 && result['status'] == 2) {
                    var log = result['log'];

                    $('#message').html('登录成功，登录时间：' + log[0]['datatime'] + '，<br/>req_id：' + log[0]['req_id'] + '，<br/>密文：<br/>' + log[0]['cipher'] + '，<br/>明文：<br/>' + log[0]['clear'] + '<br/>签名密文：<br/>' + result['base'] + '<br/>签名明文：<br/>' + result['basejson']);


                } else if (result['errors'] == 1) {
                    $('#code').html('登录失败')
                }
            }
        })
    }
    setInterval("quire()", 5000);
</script>

{% include 'footer.html' %}
